jupyterlab==4.3.1
torch==2.5.1
torchvision==0.20.1
torchsummary==1.5.1
matplotlib==3.9.2
tqdm==4.67.0
ipywidgets==8.1.5

# Not mandatory but useful nonetheless
#jupyterlab_git==0.50.2
#jupyterlab-vim==4.1.4
#pudb==2024.1.3
