jupyterlab==4.4.9
torch==2.9.0
torchvision==0.24.0
torchsummary==1.5.1
matplotlib==3.10.7
tqdm==4.67.1
ipywidgets==8.1.7

# Not mandatory but useful nonetheless
#jupyterlab-git==0.51.2
#jupyterlab-vim==4.1.4
#pudb==2025.1.2
